@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Welcome to HOMEBREW</h1>

<p>- We just care about your money, nothing more, nothing less</p>

<div class="container-test1">
    <div class="bo1">
        <h2><img src="~/images/shop.png" width="25" style="margin-right:15px" /> Why us</h2>
        <p>

            WebshopinChina assist companies to enter the Chinese online market or to improve the current business
            results in China. We do this by offering a cost-effective package tailored to the clients’ China e-com
            
        </p>
    </div>
    <div class="bo2">
        <h2><img src="~/images/unique.png" width="25" style="margin-right:15px" /> Unique</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
            diam voluptua. At vero eos et a
        </p>
    </div>
    <div class="bo3">
        <h2><img src="~/images/customer.png" width="25" style="margin-right:15px" />Quotes</h2>
        <p>
            diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna ali
        </p>
    </div>

    <!--Make testimonials with blockquote-->

</div>
<h3 class="h31"><i>WE VALUE OUR CUSTOMERS OPNION</i></h3><h6>--We don't actually look at them--</h6>
<div class="bq">
    <div class="blockquote">
        <h5><b>BOB</b></h5>
        <p>
            As I was occasionally scrolling by thousands of websites, there was one name that stud out of all other websites.
            Instanteously I clicked and AUUUUUUHHHHHH CHICA UAU UAU was that site A W E S O M E. In that particular moment
            I felt like my whole life rushed through my eyes and that I was about to reach the peak of enlightment. And I did. - Wow. - Would 100% do it again. 

        </p>
    </div>
    <div class="blockquote1">
        <h5><b>Morgan Freeman</b></h5>
        <p>
            WOW! Oh maa gash. I just made my first order and I couldn't be any more relieved. It was as if I felt a brief
            glimpse of freedom. 
        </p>
    </div>
    <div class="blockquote2">
        <h5><b>Scrootie McBoogerballs</b></h5>
        <p>
            Man o man was I appeased as I found out that they sell the Barneys Chicken ol' Rancho Dancho game. 

        </p>
    </div>
</div>
