@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        
        <div class="b">
            <a asp-page="/Cart/Cart" title="Cart">Cart</a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="margin-left:10px;font-size:12px" >@UserManager.GetUserName(User)!</a>
            <button type="submit" class="btn btn-link navbar-btn navbar-link" style="font-size:12px;">Logout</button>
        </div>
            <div class="b1">
                
            </div>
            <div class="b2">
               
            </div>

        
    </form>
}
else
{
    <div class="container-test2">
        <div class="b1">
            <a asp-area="Identity" asp-page="/Account/Register" style="margin-right:20px">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        <div class="b2">
            
        </div>
        </div>
}
